.Button {
  cursor: none;
  text-transform: uppercase;
  display: block;
  font-size: 1.6rem;
  background-color: #fff3e7;
  min-width: 35rem;
  border-radius: 0.6rem;
  padding: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-family: "Rowdies", cursive;
  color: #3e3a2f;
  border: 0.1rem solid #3e3a2f;
  transition: 0.75s cubic-bezier(0.23, 1, 0.32, 1);

  &:hover {
    background-color: #fdc463;
    transform: scale(1.03);
  }

  &__border {
    padding: 0.8rem;
    border-radius: 1.6rem;
    border: 0.1rem solid #eddcca;
  }

  &:hover .Button__border {
    border: 0.1rem solid #d9a957;
  }

  &--main {
    background-color: #fdc463;

    .Button__border {
      border: 0.1rem solid #d9a957;
    }
  }

  &--discreet {
    &:hover {
      background: #f9eada;
    }

    &:hover .Button__border {
      border: 0.1rem solid #eddcca;
    }
  }
}
