.root {
  .title {
    font-size: 8rem;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-family: "Spectral SC", sans-serif;
  }

  .startButton {
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    background-color: #ffb24d;
    padding: 1rem;
    font-family: "Spectral SC", sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 400;
    font-size: 1.8rem;
    width: 100%;
    transition: ease-in-out 0.2s;
    margin: 4rem auto 0 auto;
    max-width: 40rem;
    background-color: #ffb24d;
    color: black;

    &:hover {
      background-color: #ff9d1d;
    }
  }
}

.loadGame {
  margin-top: 2rem;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    background: rgb(255, 178, 77);
    padding: 1rem;
    cursor: pointer;
    font-weight: 400;
    color: black;
    -moz-appearance: textfield;
  }
}
