.aside {
  max-width: 100%;
  height: calc(100% - 4rem);
  width: 50rem;
  left: 2rem;
  padding: 2rem;
  position: absolute;
  bottom: 2rem;
  background-color: #000000cc;
  border: 0.1rem solid #ffb24d31;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.classic {
  max-width: 100%;
  width: 80rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  position: absolute;
  bottom: 2rem;
  background-color: #000000cc;
  border: 0.1rem solid #ffb24d31;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.aside,
.classic {
  z-index: 100;

  .narrator {
    font-family: "Spectral SC", sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 400;

    &--innerVoice {
      color: #b958ff;
    }

    &--npc {
      color: #ffb24d;
    }
  }

  .content {
    margin-top: 2rem;
  }

  .options {
    margin-top: 2rem;

    .optionsButton {
      cursor: pointer;
      display: block;
      text-align: left;
      color: #ffb24d;
      width: 100%;
      transition: ease-in-out 0.2s;

      &:hover {
        color: #ff9d1d;
      }
    }
  }

  .bottomButton {
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    background-color: #ffb24d;
    padding: 1rem;
    font-family: "Spectral SC", sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 400;
    font-size: 1.8rem;
    width: 100%;
    transition: ease-in-out 0.2s;
    margin-top: 4rem;

    &--more {
      background-color: #765b35;
      color: white;

      &:hover {
        background-color: #604d32;
      }
    }

    &--close {
      background-color: #ffb24d;
      color: black;

      &:hover {
        background-color: #ff9d1d;
      }
    }
  }
}
