.root {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #f0edd9;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  border: 0.15rem solid #3e3a2f;
  text-align: center;
  cursor: pointer;
  transition: ease-in-out 0.25s;
  transition-property: background-color, color, fill;
  color: #3e3a2f;;

  svg path {
    fill: #3e3a2f;
    stroke: #3e3a2f;
  }

  &:hover {
    background-color: #fdc463;
    // transform: translateX(-50%) scale(1.05) !important;
  }

  // &:hover .icon svg path {
  //   fill: #f0edd9;
  //   stroke: #f0edd9;
  // }

  .title {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-family: "Rowdies", cursive;
    text-transform: uppercase;
  }

  .icon svg {
    width: 3.5rem;
    margin: 0.5rem auto 0 auto;
  }
}
