.Collection {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  align-items: center;

  .item {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
      width: 60%;
      display: none;
    }

    &--active {
      opacity: 1;

      .item__icon {
        display: block;
      }
    }
  }
}
