.Interface {
  .meta {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 50%;

    .buttons,
    .spots {
      button {
        color: white;
        border: 0.1rem solid white;
        padding: 1rem 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;

        &.active {
          background-color: white;
          pointer-events: none;
          color: black;
        }
      }
    }
  }

  button {
    cursor: pointer;

    &.more {
      margin-top: 2rem;
      color: grey;
    }
  }

  hr {
    margin-bottom: 2rem;
    height: 0.1rem;
    background-color: white;
  }

  h2 {
    margin-bottom: 1rem;
  }

  .dialogue {
    max-width: 100%;
    width: 800px;
    left: 50%;
    transform: translateX(-50%);
    border: 0.3rem solid rgb(41, 34, 23);
    padding: 2rem;
    position: absolute;
    bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.8);

    .narrator {
      text-transform: uppercase;
      font-weight: 400;

      &--innerVoice {
        color: rgb(185, 88, 255);
      }

      &--npc {
        color: rgb(255, 178, 77);
      }
    }
  }

  .options {
    margin-top: 2rem;
    border-top: 0.3rem solid rgb(41, 34, 23);
    padding-top: 2rem;
    color: rgb(255, 178, 77);

    button {
      margin-right: 2rem;
    }

    button:hover {
      color: rgb(255, 157, 29);
    }
  }
}
