.root {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  .spots {
    button {
      border: .1rem solid white;
      color: #ffffff;
      background-color: #000000cc;
      padding: 1rem 2rem;
      margin-right: 2rem;
      margin-bottom: 2rem;

      &.active {
        background-color: white;
        pointer-events: none;
        color: #000000;
      }
    }
  }
}
