.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  .topBar,
  .bottomBar {
    position: absolute;
    width: 100%;
    height: 10rem;
    background-color: #000000;
  }

  .topBar {
    top: 0;
    left: 0;
    transform: translateY(-10rem);
  }

  .bottomBar {
    bottom: 0;
    left: 0;
    transform: translateY(10rem);
  }
}
