.BlackBars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  .bar {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #000000;

    &--top {
      top: 0;
      left: 0;
    }

    &--bottom {
      bottom: 0;
      left: 0;
    }
  }

  .wbar {
    width: 50%;
    height: 100%;
    background-color: black;
    position: absolute;

    &--left {
      top: 0;
      left: 0;
    }

    &--right {
      top: 0;
      right: 0;
    }

  }

  .text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Outfit';
    font-weight: 500;
  }
}

.Curtain {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  

  
}
