.root {
  .date {
    color: grey;
    display: block;
    margin-bottom: 2rem;
  }

  .baseline {
    margin-top: 2rem;
  }

  .options {
    margin-top: 2rem;
    text-align: center;
  }

  .option {
    color: rgb(255, 178, 77);
    display: inline-block;
    cursor: pointer;
    margin-right: 2rem;

    &:hover {
      color: rgb(255, 157, 29);
    }
  }

  .nextButton {
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    background-color: #ffb24d;
    padding: 1rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
    font-size: 1.8rem;
    width: 100%;
    transition: ease-in-out 0.2s;
    margin-top: 4rem;
    background-color: #765b35;
    color: white;

    &:hover {
      background-color: #604d32;
    }
  }
}
