.root {
  .date {
    color: grey;
  }

  .baseline {
    margin-top: 2rem;
  }

  .options {
    margin-top: 2rem;
    text-align: center;
  }

  .option {
    color: rgb(255, 178, 77);
    display: inline-block;
    cursor: pointer;
    margin-right: 2rem;

    &:hover {
      color: rgb(255, 157, 29);
    }
  }

  .nextButton {
    display: block;
    color: grey;
    margin-top: 2rem;
    width: 100%;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}
