.root {
  text-align: center;

  .date {
    margin-bottom: 2rem;
    display: block;
    color: grey;
  }

  .baseline {
    max-width: 60rem;
    margin-bottom: 4rem;
  }

  .option, .nextButton {
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.1rem;
    font-size: 1.6rem;
    width: 100%;
    margin: 2rem auto;
    max-width: 35rem;
    background-color: #fefff1;
    color: #3e3a2f;
    border-radius: 0.8rem;
    padding: 0.8rem;
    font-family: "Rowdies", cursive;
    border: 0.15rem solid black;

    .buttonBorder {
      padding: 0.8rem;
      border-radius: 0.8rem;
      border: 0.1rem solid #e9e7dc;
    }

    &:hover {
      background-color: #fdc463;
    }

    &:hover .buttonBorder {
      border: 0.1rem solid #d9a957;
    }
  }
}
