.Cursor {
    width: 20px;
    height: 20px;
    background: #f0edd9;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    z-index: 30;
    pointer-events: none;
    border: 0.1rem solid black;
}